.filter {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.filter select {
  padding: 8px;
  border-radius: 20px;
  border: 3px solid #ca05f6;
  background-color: rgba(177, 15, 80, 0.164);
}

.filter select option {
  color: #ca05f6;
  background-color: #f0e6f8;
  font-weight: bold;
  font-size: 16px;
}

ul {
  list-style: none;
}