@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Story Script', cursive;
  background: #7cb1ec;
}

.container {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

